<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body >
    {{>header}}
    <div class="bg-blue-200 h-screen flex justify-center items-center">
      <section class="bg-blue-200 py-16">
        <div class="container mx-auto px-4">
          <h2 class="text-3xl font-semibold mb-8 text-center">About Us</h2>
          <p class="mb-6">
            We are a team of passionate individuals dedicated to providing innovative solutions to help you achieve your goals. Our mission is to make your life easier by providing high-quality products and exceptional customer service.
          </p>
          <p class="mb-6">
            At our company, we value transparency, honesty, and hard work. We believe in building long-term relationships with our customers and strive to exceed their expectations every time.
          </p>
          <p class="mb-6">
            Whether you're a small business owner or an individual looking for personal solutions, we have the expertise and knowledge to help you succeed. Contact us today to learn more about our services and how we can help you achieve your goals.
          </p>
        </div>
      </section>
    </div>
  </body>
</html>