<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
    
    <div class="bg-blue-200 h-screen flex justify-center items-center">
      
      <div class="bg-white p-8 rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold mb-4 text-center">Forgot Password</h2>
        <div class="ErrMsg" id="ErrMsg">
            {{#if message}}
          <h1 class="text-red-500">{{message}}</h1>
        {{/if}}
        </div>
        
        <form class="mb-4" action="/ForgotPassword" method="post" >
        <div class="" id="signup-form">
            
          <label
            class="block text-gray-700 font-semibold mt-4 mb-2"
            for="email"
          >
            Email Address
          </label>
          
          <input
            class="border border-gray-400 p-2 w-full rounded-lg"
            type="email"
            id="email"
            name="email"
            required
          />
          <label class="block text-gray-700 font-semibold mt-4 mb-2" for="otp">
            Enter OTP
          </label>
          <div class="flex flex-row" id="otp-form">
          
          <input
            class="border border-gray-400 p-2 w-2/4 rounded-lg"
            type="text"
            id="otp"
            name="otp"
            minlength="6"
            maxlength="6"
            required
          />
          <button
            class="bg-blue-500 text-white p-2 ml-2 rounded-lg  w-2/4"
            type="button" class="otp-button" id="otp-button"
          >
            Send OTP
          </button>
          </div>
          <label
            class="block text-gray-700 font-semibold mt-4 mb-2"
            for="password"
          >
            Password
          </label>
          <input
            class="border border-gray-400 p-2 w-full rounded-lg"
            type="password"
            id="password"
            name="password"
            minlength="8"
            required
          />
          <button
            class="bg-blue-500 text-white py-2 px-4 rounded-lg mt-4 w-full"
            type="submit"
          >
            Change Password
          </button>
        </div>
          
        </form>
        <p class="text-sm text-gray-600">
          Remember The Password?
          <a href="/Login" class="text-blue-500 font-semibold">Sign in here.</a>
        </p>
        <p class="mt-4 text-gray-600">
          Take a deep breath and remember that you've got this.
        </p>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const otpButton = document.querySelector("#otp-button");
      
otpButton.addEventListener("click", () => {
  const emailInput = document.querySelector("#email");
  
  if (!emailInput.checkValidity()) {
    alert("Invalid email address.");
    return;
  }
  
  axios.post("/api/generate-email", {
    email: document.querySelector("#email").value
  }, {
    headers: {
      "Content-Type": "application/json;charset=UTF-8"
    }
  })
    .then(response => {
      if (response.status === 200) {
        // Show OTP form
        const errmsg = document.querySelector("#ErrMsg");
        const errorDiv = document.createElement("h1");
        errorDiv.className = "text-red-500";
        errorDiv.textContent = "OTP Send to EMail";
        errmsg.appendChild(errorDiv);
        //Password has been Sent Message Should be Displayed Here
      } else {
        // Display error message
        console.log("Error Detected");
        const errorMessage = response.data.message;
        const errorDiv = document.createElement("div");
        errorDiv.className = "text-red-500";
        errorDiv.textContent = errorMessage;
        signupForm.insertBefore(errorDiv, signupForm.firstChild);
      }
    })
    .catch(error => {
      console.error(error);
    });
});

</script>
</body>
</html>